<h1>Step 1: Choose your Model and color</h1>

<form style="display: flex;" (change)="onChangeDetails()" [formGroup]="step1Form">
  <label for="modelSelect">Model:</label>
  <select (change)="onSelectCarModel()" id="modelSelect" name="modelSelect" formControlName="modelSelect">
    <option value="" selected>Choose...</option>
    <option *ngFor="let model of models; index as i" value="{{i}}">{{ model.description }}</option>
  </select>
  <div *ngIf="this.step1Form.get('modelSelect')?.valid">
    <label for="colorSelect">Color:</label>
    <select id="colorSelect" name="colorSelect" formControlName="colorSelect">
      <option *ngFor="let color of models?.[this.step1Form.get('modelSelect')?.value]?.colors;" value="{{color.code}}">
        {{color.description}}</option>
    </select>
  </div>
</form>
<div *ngIf="this.step1Form.valid">
  <img src="https://interstate21.com/tesla-app/images/{{selectedModel.code}}/{{selectedModel.color}}.jpg"
    alt="{{selectedModel.code}}/{{selectedModel.color}}" style="width: 100%;">
</div>